{
  "storage": {
    "type": "filesystem",
    "config": {
      "path": "/System/Volumes/Data/backup/jepollock",
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "../../Caches/kopia/1fdf1f4bfc6b7943",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "jasons-macbook-pro",
  "username": "jepollock",
  "description": "My Repository",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}